
body {
    font-family: 'Inter', sans-serif;
    background-color: #E3E9E4;
    
}

/* Menu */
.header {
    background-color: #fff;
  position: fixed;
   z-index: 1;
   width: 100%;
}
.header .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 30px;
    width: 100%;
    max-width: 1200px;
    height: 15px;
  
}
.header h1{
    font-size: 30px;
    font-weight: 700;
    color: #336633;
    transition: 0.3s;
    margin-top: 20px;



}
.header a:hover h1 {
    color: #00b779;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    margin: 22px 0;
    
}





/* HERO */
.hero { 
   
    height: 89vh;
    background: url('../img/background-head.png') center center no-repeat; 
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-bottom: 100%;
    width: 100%;
}
.hero__title {
    font-weight: 500;
    text-transform: uppercase;
    font-size: 4rem;
}
.hero:after{
    content: url('../images/seta_preta.png');
    position: absolute;
    height: 35px;
    bottom: 40px;
    animation: downarrow 0.6 infinite alternate ease-in-out;}
@-webkit-keyframes downarrow {
    0%{-webkit-transform: translateY(0);}
    100%{-webkit-transform: translateY(2em);}
}


    /* Serviços */
.serviços__header {

}
    .serviços__header__itens{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}
.serviços__header__titulo {
    color: #00b779;
    font-weight: bold;
    font-size: 18px;
    margin-top: 90px;

}


.serviços__header__subtitulo {
    font-size:26.944px;
    padding: 8px;
    line-height: 32px;
    color: #2d2d2d;

}

.serviços__itens {
    display: grid;
    


}

.serviços__img{
    border-radius: 16px;
    box-shadow:rgba(55, 99, 244, 0.15) 0px 8px 16px 0px ;
    width: 440px;
    height: 286px;
    margin-top: 56px;
    margin-left: 65px;
    
}
.serviços__img__2{
border-radius: 16px;
    box-shadow:rgba(55, 99, 244, 0.15) 0px 8px 16px 0px ;
    width: 350px;
    height: 445px;
    margin-top: 56px;
    margin-right: 100px;
    margin: ;



}
.serviços__img__3{
    border-radius: 16px;
        box-shadow:rgba(55, 99, 244, 0.15) 0px 8px 16px 0px ;
        width: 440px;
        height: 319px;
        margin-top: 56px;
        
        margin-left: 65px;
    
    
    
    }

.serviços__informação {
    display: flex;
    justify-content: center;
    align-item;
    flex-direction: column;
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 48px;
    margin-right: 100px;
    
}
.serviços__box{
    display: flex;
    align-content: flex-start;
     }
.serviços__box2{
    display: flex;
    align-content: flex-start;
    flex-direction: row-reverse;
    margin-left: 66px;
    margin-right: 40px;
    margin-top: 5px;
    align-items: center;
}
.serviços__box3{ 
    display: flex;
    align-content: flex-start;
    
    
    
    



}





.serviços__informação__titulo{
    padding-bottom: 8px;
    font-size: 20px;
    font-weight: bold;
    line-height: 24px;
    text-align: start;
    color: #2d2d2d;
  

}
.serviços__informação__titulo2 {
    padding-bottom: 8px;
    font-size: 20px;
    font-weight: bold;
    line-height: 24px;
    text-align: start;
    color: #2d2d2d;
}
.serviços__informação__descrição {
    margin-bottom: 24px;
    line-height: 25.6px;
    color: #4e5d78;
    font-weight: 500;
    font-size: 17px;
}
.serviços__informação__descrição2 {
    margin-bottom: 24px;
    line-height: 25.6px;
    color: #4e5d78;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 24px;

}


.serviços__btn {
    padding: 9px 32px;
    border-radius: 32px;
    background-color: #2a760a;
    color: white;
    box-shadow: rgba(55, 99, 244, 0.15) 0px 8px 16px 0px;
    font-weight: bold;
    line-height: 25.6px;
    width: 150px;
    height: 46px;
    font-size: 16px;
    }
    .serviços__btn2 {
        padding: 9px 32px;
        border-radius: 32px;
        background-color: #2a760a;
        color: white;
        box-shadow: rgba(55, 99, 244, 0.15) 0px 8px 16px 0px;
        font-weight: bold;
        line-height: 25.6px;
        width: 150px;
        height: 46px;
        font-size: 16px;
        }
        .serviços__btn3 {
            padding: 9px 32px;
            border-radius: 32px;
            background-color: #2a760a;
            color: white;
            box-shadow: rgba(55, 99, 244, 0.15) 0px 8px 16px 0px;
            font-weight: bold;
            line-height: 25.6px;
            width: 150px;
            height: 46px;
            font-size: 16px;
            }
    

    /* Sobre Nós */
.quem-somos{
    display:grid;
    grid-template-columns: 1fr 1fr;

}
.quem-somos p{
    font-size: 19px;
    font-weight: 300;

}
.img__quem-somos{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
    border-radius: 16px;
    box-shadow: rgba(55, 99, 244, 0.15) 0px 8px 16px 0px;
}
.nome_quem-somos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    color: #caa14d;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;

}

.time{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    align-items: ;
    margin-left: 100px;
   
    line-height: 30px;

}
.time__img{
    border-radius: 16px;

}
.time p{
    
    
    font-size: 19px;
    
    margin-left: 122px;
    
}


/* Curso Ayurveda */
.curso-ayurveda{
    background-color: #E3E9E4;
}
.curso-ayurveda h2 {
    font-size: 42px;
    margin: 52px 8px;

    
   

}
.curso-ayurveda__titulo {
    color: #caa14d;
    font-size: 40px;
    text-align: center;
    padding: 40px;
}
.curso-ayurveda__subtitulo{
    font-size: 19px;
    font-weight: 600;
    padding: 10px;
}
.card {
    box-shadow: rgba(95, 39, 188, 0.1) 0px 10px 10px 0px;
    border-radius: 5px;
    width: 460px;
    height: 160px;
    background-color: #fff;
    margin: 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .card span{
        font-size: 19px;
        font-weight: 600;
        color: #006666;
        margin-left: 20px;
    }
.grid-curso-ayurveda {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    font-size: 22px;
    line-height: 34px;
    padding: 20px;
    font-weight: 600;
    color: #caa14d;

}


}
.titulo-imersão-ayurveda {
    font-size: 36px;
    font-weight: 600;
    color: #006666;
   margin-left: 40px;
}

.imersão_ayurveda {
   color: #006666;
   font-weight: 600;
   font-size: 19px;

}
/* Consultas */
.consulta {
    display: grid;
    grid-template-columns: 1fr 1fr;
    


}
.consulta__conteúdo{
    margin-left: 100px;
    margin-top: 100px;
    margin-bottom: 100px;
    order: 1;
    


}
.titulo__consulta {
    font-size: 36px;
    font-weight: 600;
    color: #caa14d;
    margin-left: 32px;
    text-align: center;
    margin-top: 30px;
}
.consulta__conteúdo__erika{
    margin-left: 100px;
    margin-top: 100px;
    margin-bottom: 30px;
    order: 0;
    
}
.img__consulta {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
    width: 296px;
    height: 296px;
    margin-left: 32px;
}
.name {
    font-size: 22px;
    font-weight: 600;
    color: #caa14d;
    margin-left: 32px;
}
.text {
    font-size: 18px;
    font-weight: 600;
    color: #006666;
    margin-left: 32px;
    margin-top: 40px;
    max-width: 500px;
}
.button__consulta {
    background-color: #caa14d;
    color: #fff;
    border: 2px solid transparent;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 30px;
    font-size: 17px;
    font-weight: bold;
    margin-left: 32px;
    margin-top: 40px;
    cursor: pointer;
    position: relative;
    


}
.button__consulta:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 2px solid #caa14d;
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 30px;
}
.button__consulta:hover:before{
    opacity: 1;
    animation: pulse 1s infinite;
}
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}
.icon {
    width: 20px;
    height: 20px;
    color: #2a760a;
}
@media (max-width: 768px) {{
   .hero {width: 700px;}
        
   }
   .serviços__header__titulo{
    margin-left: 47px;
   }
    .serviços__header__subtitulo{
     margin-left: 46px;
     padding: 20px;
     display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
    }.serviços__box{
        display: block;
    }
    .serviços__img{
        display: flex;
        margin-left: 20px;

    }
    .serviços__informação__titulo{
        margin-left: 70px;
        width: 100%;
    }
    .serviços__informação__descrição{
        margin-left: 70px;
        width: 100%;
    }
    .serviços__btn{
        margin-left: 70px;
        width: 100%;
    }
    .serviços__box2 {
        display: block;
    }
    .serviços__img2{
        display: flex;
        ;
    }
    .serviços__btn2{
        
        margin-left: 0px;
        margin-right: 100px;
        width: 100%;
    }
    .serviços__informação__titulo2{
        margin-left: 70px;
        width: 100%;
        margin-top: 50px;
    }
    .serviços__box3 {
        display: block;
    }
    .serviços__img__3{
        display: flex;
        margin-left: 0px;
    }
    .serviços__btn3{
        margin-left: 0px;
        width: 100%;
        
    }
    .quem-somos {
        display: grid;
        grid-template-columns: 1fr;
    }
    .img__quem-somos{
        display: flex;
        margin-left: 65px;
    }
    .nome_quem-somos{
        margin-top: 0px;
    }
    .time {
        display: grid;
        grid-template-columns: 1fr;
        margin: 0 auto;
        
    }
    .time__img{
        display: flex;
       margin: 25px auto;
        height: 300px;
        width: 400px;
    }
    .time p {
        margin: 25px auto;
    }
    /* consulta media query */
    .consulta {
        display: grid;
        grid-template-columns: 1fr;
        
    }
    .consulta__conteúdo{
        margin-left: 0px;
        margin-top: 10px;
        margin-bottom: 0px;
        order: 1;
        margin: 0 auto;
        width: 100%;
        text-align: center;
        
        
    }
    .consulta__conteúdo__erika{
        margin-left: 0px;
        margin-top: 10px;
        margin-bottom: 0px;
        order: 0;
        margin: 0 auto;
        width: 100%;
        text-align: center;
        
    }

    .img__consulta {
        max-width: 100%;
        max-height: 100%;
        border-radius: 50%;
        width: 296px;
        height: 296px;
        margin-left: 0px;
    }
    .name {
        font-size: 22px;
        font-weight: 600;
        color: #caa14d;
        margin-left: 0px;
    }
    .text {
        font-size: 18px;
        font-weight: 600;
        color: #006666;
        margin-left: 0px;
        margin-top: 40px;
        max-width: 500px;
    }
    .button__consulta {
        background-color: #caa14d;
        color: #fff;
        border: 2px solid transparent;
        text-decoration: none;
        padding: 10px 30px;
        border-radius: 30px;
        font-size: 17px;
        font-weight: bold;
        margin-left: 0px;
        margin-top: 40px;
        cursor: pointer;
        position: relative;
        margin: 0 auto;
        width: 100%;
        text-align: center;
        
    }

    .button__consulta:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border: 2px solid #caa14d;
        opacity: 0;
        transition: opacity 0.3s ease;
        border-radius: 30px;
    }
    .button__consulta:hover:before{
        opacity: 1;
        animation: pulse 1s infinite;
    }
    .icon {
        width: 20px;
        height: 20px;
        color: #2a760a;
    }



}






   